{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block body %}
  <div>
    <h1>Lorem Ipsum</h1>
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel metus eu tellus malesuada porta a in arcu. Quisque volutpat dolor elit, convallis rhoncus mi feugiat quis. Cras sed maximus leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a condimentum mi. Nunc nisi felis, iaculis at rutrum a, imperdiet ac libero. Curabitur varius, risus nec tincidunt congue, sapien magna sollicitudin sem, non dignissim nibh nulla sed magna. Etiam vitae tellus in lectus vulputate lobortis sed in leo. Proin vel ipsum ac velit lacinia varius non a sem. Nam eu blandit est, non convallis libero. Sed hendrerit nisi ante, quis hendrerit tortor semper at. Nulla a fermentum ipsum, eu interdum ipsum. Morbi tempus consequat ante, nec vulputate eros consectetur et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </div>
{% endblock %}